.card_blok {
    display: inline-flex;
    width: 290px;
    height: 30px;
    padding: auto;
}

.card {
    width: 30px;
    height: 20px;
    margin: auto;
}

.form {
    margin-top: 1%;
}

.btn {
    border-radius: 5px;
    border: none;
    height: 25px;
    background-color: green;
    color: aliceblue;
}

.btn:hover {
    background-color: #3e8e41
}

.btn:active {
    border: 3px solid;
    background-color: black;
}
.img {
    border: 1px solid;
    border-radius: 4px;
    width:30px;
     height:20px;
}

.fog {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}